
.container {
    width:100%;
    margin:0 auto;  
}
.

nav ul {
        list-style-type:none;
            width: 100%;
        }
        
        nav ul li {
        float: left;
        width: 24.5%;
        height: 3.5em;
        background-color: rgba(255, 255, 255, 0.75);
        border-left: .1em solid dimgrey;
        border-bottom: .1em solid dimgrey;
        border-top: .1em solid dimgrey;
       
        
    
        
    }
       nav ul li a {
        text-decoration: none;
        display: block;
        padding: 1.2em 0 0 0;       
        font-family: sans-serif;
        font-size: .5 em;
        text-align: center;
        color: dimgrey;
    }
nav a:hover {
        background-color: dimgray;
        color: white;
        padding: 1.2em 1.2em 1.3em 1.2em;
    }